@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 30px;
  background: #1d2b3a;
  color: #fff;
}

.inputBox
{
  position: relative;
  width: 250px;
  background: inherit;
}

.inputBox input
{
  width: 100%;
  padding: 0.65em;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: inherit;
  border-radius: 5px;
  outline: none;
  color: currentColor;
  font-size: 1em;
  transition: 0.5s;
}

.inputBox label
{
  position: absolute;
  left: 0;
  padding: 0.75em 0.65em;
  pointer-events: none;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.25);
  text-transform: uppercase;
  transition: 0.5s;
}

.inputBox input:valid ~ label,
.inputBox input:focus ~ label
{
  color: #00dfc4;
  transform: translateX(0.75em) translateY(-0.65em);
  font-size: 0.65em;
  padding: 0 0.65em;
  background: inherit;
  border-left: 1px solid #00dfc4;
  border-right: 1px solid #00dfc4;
  letter-spacing: 0.2em;
}

.inputBox input:valid,
.inputBox input:focus
{
  border: 1px solid #00dfc4;
}

.inputBox:nth-child(2) input:valid ~ label,
.inputBox:nth-child(2) input:focus ~ label
{
  background: #00dfc4;
  color: #1d2b3a;
  border-radius: 2px;
}
